.content{
    max-width: 46rem;
    width: 100%;
  
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .taskInfoContainer {
    display: flex;
    flex: 1;
  
    justify-content: space-between;
    gap: 0.5rem;  
  }
  
  .taskInfoContainer input, .taskInfoContainer button {
    transform: translateY(-50%);
  
    margin-bottom: 2.3125rem;
  }
  
  .tasksList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .tasksList > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .linkCode {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #30363d;
    border: 1px solid #505152;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;

    transition: all 0.3s;
  }


  .linkCode:hover {
    opacity: 0.8;
  }


  .linkCode svg {
    font-size: 1rem;
  }
